<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prime Number Checker</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
  </head>

  <body>
    <div class="container">
      <h1>Prime Number Checker</h1>
      <p>Enter a number to check if it's prime:</p>

      <input type="text" id="numberInput" name="number" placeholder="Enter a Number" style="width: 50%;" />

      <button onclick="checkPrime()" class="button">Check</button>
      <p id="result"></p>
    </div>

    <div class="search-history fade-in">
      <div class="search-history-header">
        <h2>Search History</h2>
        <button id="clearHistoryButton" class="button">Clear History</button>
        <div id="message">&nbsp;History Cleared&nbsp;</div>
      </div>
      <table id="historyTable">
        <thead>
          <tr>
            <th>Number</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody id="historyBody"></tbody>
      </table>
    </div>

    <div class="background"></div>

    <footer>
      <p>Created by Jayesh Jain</p>
    </footer>

    <script src="/static/script.js"></script>
  </body>
</html>
